{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/myfirst.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Baloo+2:400,800&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <nav>
                <ul class='navbar'>
                    {% if user.is_authenticated %}
                    <li><a href="{% url "show_my_tasks" %}">My tasks</a></li>
                    <li><a href="{% url "list_projects" %}">My projects</a></li>
                    <li><a href="{% url "logout" %}">Logout</a></li>
                    <li class = "user">{{ user }}</li>
                    {% else %}
                    <li><a href="{% url "login" %}">LogIn</a></li>
                    <li><a href="{% url "signup" %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
    </header>
<main>
    <div>
        {% block content %}

        {% endblock %}
</div>
</main>
</body>
</html>
