{% extends "base.html" %}

<title>
    {% block title %}Projects{% endblock %}
</title>

{% block content %}
<main>
    <div class="project-list">
        <h1>My Projects</h1>
        <p>
            <a href="{% url "create_project" %}">Create a new project</a>
        </p>
        {% if list_projects|length == 0 %}
            <p>You are not assigned to any projects</p>
        {% endif %}
        <table>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
            </tr>
            <tbody>
                {% for item in list_projects %}
                <tr>
                    <td><a href="{% url "show_project" item.id %}">{{ item.name }}</a></td>
                    <td>{{ item.tasks.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
